extends layout
block content
	div.header 
		div.header-text-container Click on any profile for a real-time view of their latest image!
	div#image-container1
		div.heading
			div.heading-text-container
				h1 Followers: <span style="color: #ffd20c;">#{ followerCount }</span>
		each follower in followers
			- if (follower.profile_picture)
				a(href="/follow/#{follower.id}")
					div.photo
						img(src='#{follower.profile_picture}', title='#{follower.username}')
	div#image-container2
		div.heading
			div.heading-text-container
				h1 Following: <span style="color: #ffd20c;">#{ followingCount }</span>
		each followee in follows
			- if (followee.profile_picture)
				a(href="/follow/#{followee.id}")
					div.photo
						img(src='#{followee.profile_picture}', title='#{followee.username}')
